# Ingeniero de Datos Nequi: Prueba Técnica
### Propósito
El propósito de esta prueba es verificar tus conocimientos en el campo del modelado de datos, esperamos que sea la oportunidad de combinar lo que has aprendido a lo largo de tu experiencia profesional y mezclarlo con tu capacidad de abstracción y analítica.

### Recursos
Hemos creado un entorno en el cual podremos poner en práctica tus conocimientos en SQL.
El RDBMS dispuesto para esta prueba es **Mysql**. Se debe contar con una tool que nos permita la conexión e interacción con
la base de datos.
Eres libre de usar la herramienta que consideres adecuada.
Una vez realizada su conexión al RDBMS encontrará una base de datos llamada "adventureworks", donde podrás ejecutar las consultas propuestas en este documento.

### Instrucciones
Para obtener información acerca de adventureworks puede consultar el siguiente [enlace](https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008/ms124438(v=sql.100))

## Conexion

| **Pametro**  | **Descripcion**                                                            |
|--------------|----------------------------------------------------------------------------|
| RDBMS        | MYSQL                                                                      |
| Host         | mysql-nequi-data-sandbox-20220525.cbbyoqcx4kai.us-east-1.rds.amazonaws.com |
| User         | invitado                                                                   |
| Pass         | invitado                                                                   |
| Port         | 3306                                                                       |
| databasename | adventureworks                                                             |


Este es un diagrama de la base datos y de como se relacionan las diferenes tablas.
![imagen1](./img/adventureworks.png "nequi-mysql-adventureworks")

## Seccion #1

**Copie & pegue la consulta y el resultado de cada una de las preguntas propuestas en este notebok.**

Desde la información que se tiene de tarjetas de credito se necesita conocer:
1. Liste las diferentes franquicias
2. La cantidad de tarjetas por franquicia, distribuida por el año de vencimiento de la tarjeta
3. La cantidad de tarjetas MASTERCARD donde el año de vencimiento es 2008
4. La cantidad de tarjetas que en su número finalizan en 9722
5. Cuál es el año y mes que tiene mayor cantidad de tarjetas que se van a vencer
6. Cuál es el año de vencimiento que tuvo mayor cantidad de modificaciones en tarjeta de credito

**Respuestas...**
edite o agreguee celdas con cada una de las respuestas. puede ser en formato texto

**Respuesta ejemplo**
Pregunta 1

```sql
select a.field from table
```
Resultado:
- valor1
- valor2
- valor3

### Respuestas:

#### Pregunta 1:

```sql
SELECT DISTINCT CardType AS CardFranchisesName FROM creditcard;
```
Resultado:

| **CardFranchisesName**   |
|--------------------------|
| MASTERCARD               |
| Dinners Club             |
| American Express         |
| VISA                     |

#### Pregunta 2:

```sql
SELECT CardType, ExpYear, COUNT(CardType) as CardFranchisesTotal
FROM creditcard
GROUP BY CardType, ExpYear
ORDER BY CardType ASC, ExpYear ASC;
```
Resultado:

| **CardType**     | **ExpYear** | **CardFranchisesTotal** |
|------------------|-------------|-------------------------|
| American Express | 2005	       |  1159                   |
| American Express | 2006        |	1233                   |
| American Express | 2007        |	1174                   |
| American Express | 2008        |  1216                   |
| Dinners Club     | 2005        |	1157                   |
| Dinners Club	   | 2006	       |  1208                   |
| Dinners Club     | 2007  	     |  1252                   |
| Dinners Club     | 2008        |	1215                   |
| MASTERCARD       | 2005        |	1201                   |
| MASTERCARD       | 2006        |	1220                   |
| MASTERCARD       | 2007        |	1229                   |
| MASTERCARD       | 2008        |	1189                   |
| VISA             | 2005        |	1226                   |
| VISA             | 2006        |	1146                   |
| VISA             | 2007        |	1177                   |
| VISA             | 2008        |	1116                   |

#### Pregunta 3:

```sql
SELECT CardType, ExpYear, COUNT(CardType) as CardTotal
FROM creditcard
WHERE CardType = 'MASTERCARD' and ExpYear = 2008;
```
Resultado:

| **CardType**     | **ExpYear** | **CardTotal** |
|------------------|-------------|---------------|
| MASTERCARD	     | 2008	       | 1189          |

#### Pregunta 4:

```sql
SELECT COUNT(CardNumber) AS CardTotalEnds9722
FROM creditcard
WHERE CardNumber LIKE '%9722';
```
Resultado:

| **CardTotalEnds9722**  |
|------------------------|
| 3                      |

#### Pregunta 5:

```sql
SELECT ExpYear, ExpMonth, COUNT(CardType) as MoreCardsToExpire
FROM creditcard
GROUP BY ExpYear , ExpMonth
ORDER BY MoreCardsToExpire DESC LIMIT 1;
```
Resultado:

| **ExpYear** | **ExpMonth** | **MoreCardsToExpire** |
|-------------|--------------|-----------------------|
| 2006	      | 12	         | 429                   |

#### Pregunta 6:

```sql
SELECT ExpYear, COUNT(DISTINCT(ModifiedDate)) AS MoreCardsModified
FROM creditcard
GROUP BY ExpYear
ORDER BY MoreCardsModified DESC LIMIT 1;
```
Resultado:

| **ExpYear** | **MoreCardsModified** |
|-------------|-----------------------|
| 2008	      | 1092                  |

## Seccion #2

**Escriba el resultado de cada una de las preguntas propuestas en este notebok.**

Seleccione la respuesta mas adecuada en las siguientes preguntas.

1. Cuál comando SQL se usa para extraer información de una base de datos:
    - EXTRACT
    - GET
    - SELECT
    - OPEN
2. Determine que operación **DDL** se usa para borrar todo el contenido de una tabla:
    - DELETE
    - ALTER
    - DROP
    - GRANT
    - TRUNCATE

3. Escriba la diferencia entre **DELETE** y **TRUNCATE**
4. Escriba la diferencia entre un **CROSS JOIN** y un **FULL JOIN**

### Respuestas:

#### Pregunta 1:

El comando en SQL que se utiliza para extraer la información de una base de datos es:

```sql
SELECT
```
Un ejemplo seria el siguiente:

```sql
SELECT CardType FROM creditcard;
```

Donde la sentencia *SELECT* nos indica la(s) columna(s) que se requiere acceder (con * obtenemos todas las columnas), en este caso solo requerimos CardType y la sentencia *FROM* nos indica la tabla desde la cual se requiere la información.

#### Pregunta 2:

La operación DDL (Data Definition Language) que borra todo el contenido de una tabla es:

```sql
TRUNCATE
```
Un ejemplo seria el siguiente:

```sql
TRUNCATE TABLE creditcard;
```

Donde la sentencia *TRUNCATE* y *TABLE* nos indica que se quieren borrar todos los datos de la tabla *creditcard*.

#### Pregunta 3:

- La sentencia *TRUNCATE* elimina todos los datos de manera rápida porque no guarda cada dato eliminado en registros de transacciones mientras *DELETE* si registra cada dato eliminado y esto ralentiza su proceso.

- *TRUNCATE* elimina todos los datos de manera definitiva, esto quiere decir que no se pueden recuperar.

- *TRUNCATE* reinicia los contadores de ID autoincrementales que tenga la tabla y no se puede utilizar la sentencia *WHERE* mientras que con *DELETE* si se puede utilizar.

#### Pregunta 4:

La sentencia *CROSS JOIN* y *FULL JOIN* son dos diferentes operaciones *JOIN*:

 -*CROSS JOIN* es la combinación de cada columna de una tabla con cada columna de otra tabla, por tanto se tiene como resultado todas las combinaciones posibles entre dichas dos tablas, esta sentencia no requiere la condición *ON* ya que no requiere un valor de unión porque sus combinaciones son automáticas. Es conocida como el producto cartesiano y la sintaxis de su query es:

  ```sql
  SELECT * FROM contact CROSS JOIN creditcard;
  ```
  -*FULL JOIN* es la unión de cada columna de una tabla con todas las columnas de otra tabla, siendo esta sentencia la unión de dos sentencias mas polulares; *LEFT JOIN* y un *RIGHT JOIN* ya que *FULL JOIN* no tiene soporte en todas las bases de datos. Su resultado incluye todas las columnas de ambas tablas, unidas por la columna que coincide ayudada por la cláusula *ON*. Las columnas que no tienen una coincidencia en ambas tablas se completan con NULL y la sintaxis de su query es:

  ```sql
  SELECT * FROM contact FULL JOIN storecontact ON contact.ContactID = storecontact.ContactID;
  ```